
/* JL - Styles */
.scorecard-table td, .scorecard-table th{
    width:100%;
}

.scorecard-grid{
    width:100%;
    height:60%;
    overflow:scroll;
    margin:0 auto;
}
.scorecard-grid ul{
    list-style:none;
    padding:0;
    margin:0;
    width:600px;
}
.scorecard-grid > ul > li:after{
    content:"";
    display:block;
    clear:both;
}
.scorecard-grid > ul > li > ul >li{
    float:left;
    padding:10px;
    margin:1px;
    background:#DDD;
    width:98px;
    height:30px;
    overflow:hidden;
    box-sizing:border-box;
}
.scorecard-grid > ul > li > ul{
    display:inline;
}


