@import 'variables';
@import 'main';
@import 'normalize';

html,body{
	font-family:'Lato',sans-serif;
}
/* STRUCTURE */
#page-header{
    background:#EEE;
    color:#FFF;
    height:40px;
    padding:10px 0;
    position:static;
    top:0;
    left:0;
    right:0;
}
#page-header ul{
    list-style:none;
}
#page-header ul li{
    display:inline;
}
/* SCORECARD TABLE */
#scorecard-grid-wrapper{
    position:fixed;
    top:70px;
    left:10px;
    right:10px;
    bottom:10px;
    overflow:scroll;
    background:#FFF;
    border:#DDD solid 1px;
    box-sizing:border-box;
}
.cell-body{
    position:relative;
    display:block;
    width:100px;
    height:30px;
    padding:5px 10px;
    box-sizing:border-box;
}

/* Header */
#scorecard-grid-header{
    background:#FFF;
    border-bottom:#DDD solid 1px;
    position:absolute;
    top:0;
    left:0;
    height:$headerHeight;
    z-index:2;
}
#scorecard-grid-header ul, #scorecard-grid-header ul li{
    list-style:none;
    margin:0;
    padding:0;
}
#scorecard-grid-header > ul{
    margin-left:$sidebarWidth;
}
#scorecard-grid-header > ul > li{
    float:left;
    border-color:#AAA;
    border-style:solid;
    border-width:0 0 0 1px;
}
#scorecard-grid-header > ul > li > ul{
    display:inline;
}
#scorecard-grid-header > ul > li > ul > li{
    float:left;
    width:$cellWidth;
    border-left:#DDD solid 1px;
    box-sizing:border-box;
}
#scorecard-grid-header > ul > li > ul > li:nth-child(1){
    border:none;
}
#scorecard-grid-header #table-title{
    background:#FFF;
    border-right:#DDD solid 1px;
    position:absolute;
    top:0;
    left:0;
    width:$sidebarWidth;
    height:$headerHeight;
    margin:0;
    z-index:3;
}
#scorecard-grid-header #table-title span{
    background:none;
    width:$sidebarWidth;
    margin-top:10px;
    font-size:1.5em;
    text-align:center;
}
#scorecard-grid-header .cell-body{
    display:block;
}
#scorecard-grid-header > ul > li span{
	width:100%;
}
#scorecard-grid-header .cell-body p.cell-text{
    white-space:nowrap;
    margin:0;
    overflow:hidden;
}

/* Sidebar */
#scorecard-grid-sidebar{
    background:#FFF;
    border-right:#DDD solid 1px;
    position:absolute;
    top:$headerHeight;
    left:0;
    width:$sidebarWidth;
    z-index:1;
}
#scorecard-grid-sidebar ul, #scorecard-grid-sidebar li{
    list-style:none;
    margin:0;
    padding:0;
}
#scorecard-grid-sidebar .scorecard-grid-sidebar-supertopic{
    position:relative;
    border-color:#AAA;
    border-style:solid;
    border-width:1px 0 0;
}
#scorecard-grid-sidebar > ul > li > span{
    position:absolute;
    top:-20px;
    left:0;
    width:$cellWidth;
    transform:rotate(90deg);
    transform-origin:0% 100%;
}
#scorecard-grid-sidebar .scorecard-grid-sidebar-topic{
    width:$cellWidth*2;
    margin-left:60px;
}
#scorecard-grid-sidebar .scorecard-grid-sidebar-topic:nth-child(1){
    width:$cellWidth*2;
    margin-left:60px;
    border-top:none;
}
#scorecard-grid-sidebar .scorecard-grid-sidebar-topic > span{
    border-top:#DDD solid 1px;
    box-sizing:border-box;
}
#scorecard-grid-sidebar .scorecard-grid-sidebar-topic:nth-child(1) > span{
    border-top:none;
}
#scorecard-grid-sidebar .scorecard-grid-sidebar-subtopic{
	
}
#scorecard-grid-sidebar > ul > li > ul > li .cell-body{
    width:$cellWidthX2;
}
#scorecard-grid-sidebar > ul > li > ul > li .cell-body p.cell-text{
    margin:0;
    white-space:nowrap;
    overflow:hidden;
}

/* Body */
#scorecard-grid-body{
    position:absolute;
    top:$headerHeight;
    left:$sidebarWidth;
}
#scorecard-grid-body ul{
	display:inline;
}
#scorecard-grid-body ul, #scorecard-grid-body li{
    list-style:none;
    margin:0;
    padding:0;
}
// Super-Topic
#scorecard-grid-body .scorecard-grid-supertopic{
    display:block;
    border-color:#FFF;
    border-style:solid;
    border-width:1px 0 0;
}
// Topic
#scorecard-grid-body .scorecard-grid-topics .scorecard-grid-topic:nth-child(1){
	border-top:#FFF solid 1px;
}
#scorecard-grid-body .scorecard-grid-supertopic:nth-child(1) .scorecard-grid-topic:nth-child(1){
	border-top:none;
}
#scorecard-grid-body .scorecard-grid-topic{
    float:left;
}
// Super-Subset
#scorecard-grid-body .scorecard-grid-supersubset{
    float:left;
    border-color:#FFF;
    border-style:solid;
    border-width:0 0 0 1px;
}
// Subset
#scorecard-grid-body .scorecard-grid-subset{
    float:left;
}
// Sub-Topic
#scorecard-grid-body .scorecard-grid-subtopics{
    border-color:#DDD;
    border-style:solid;
    border-width:1px 0;
    background:#DDD;
}
#scorecard-grid-body .scorecard-grid-subtopic{
    float:left;
    border:none;
}
#scorecard-grid-body .scorecard-grid-subtopic-supersubset{
    float:left;
    border-color:#FFF;
    border-style:solid;
    border-width:0 0 0 1px;
    background:#DDD;
}
#scorecard-grid-body .scorecard-grid-subtopic-subset{
	float:left;
    width:$cellWidth;
    height:$cellHeight;
}
// Heat Values
.heat-0{
    background:hsla($heatmapHue,100%,50%,0);
}
.heat-1{
    background:rgba(70,200,200,.1);
    background:hsla($heatmapHue,100%,50%,.1);
}
.heat-2{
    background:rgba(70,200,200,.2);
    background:hsla($heatmapHue,100%,50%,.2);
}
.heat-3{
    background:rgba(70,200,200,.3);
    background:hsla($heatmapHue,100%,50%,.3);
}
.heat-4{
    background:rgba(70,200,200,.4);
    background:hsla($heatmapHue,100%,50%,.4);
}
.heat-5{
    background:rgba(70,200,200,.5);
    background:hsla($heatmapHue,100%,50%,.5);
}
.heat-6{
    background:rgba(70,200,200,.6);
    background:hsla($heatmapHue,100%,50%,.6);
}
.heat-7{
    background:rgba(70,200,200,.7);
    background:hsla($heatmapHue,100%,50%,.7);
}
.heat-8{
    background:rgba(70,200,200,.8);
    background:hsla($heatmapHue,100%,50%,.8);
}
.heat-9{
    background:rgba(70,200,200,.9);
    background:hsla($heatmapHue,100%,50%,.9);
}
// Trends
// Up
.trend-1:after{
    content:"";
    display:block;
    position:absolute;
    top:5px;
    right:5px;
    height:20px;
    width:20px;
    background:#090;
}
// Down
.trend-2:after{
    content:"";
    display:block;
    position:absolute;
    top:5px;
    right:5px;
    height:20px;
    width:20px;
    background:#900;
}

// Scroll Shadows
.scroll-shadow{
    display:block;
    position:absolute;
    -webkit-transition:opacity linear .05s;
    -moz-transition:opacity linear .05s;
    -o-transition:opacity linear .05s;
    transition:opacity linear .05s;
}
#scroll-shadow-top{
    opacity:0;
    top:132px;
    right:10px;
    left:10px;
    height:10px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 );
}
#scroll-shadow-right{
    top:70px;
    right:10px;
    bottom:10px;
    width:10px;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 99%, rgba(0,0,0,0.3) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.3)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%);
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%);
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=1 );
}
#scroll-shadow-bottom{
    bottom:10px;
    right:10px;
    left:10px;
    height:10px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 99%, rgba(0,0,0,0.3) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.3)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );
}
#scroll-shadow-left{
    opacity:0;
    top:70px;
    left:272px;
    bottom:10px;
    width:10px;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=1 );
}

/* SUMMARY */
#summary-table-wrapper{
    position:fixed;
    top:70px;
    left:10px;
    right:10px;
    bottom:10px;
    overflow:scroll;
	border:#DDD solid 1px;
}
#summary-table-header{
	text-align:left;
	width:100%;
	margin:0 auto;
	background:#EEE;
}
#summary-table-header p{
	padding:20px 10px;
	margin:0 0 10px;
}
#summary-table{
	width:100%;
	margin:0 auto;
	table-layout:fixed;
	border-bottom:#DDD solid 1px;
}
#summary-table thead{
	text-align:left;
	font-size:.75em;
	color:#999;
}
#summary-table thead span{
	display:block;
	padding:5px 10px;
	white-space:normal;
}
#summary-table .summary-table-col-1{
	width:20%;
}
#summary-table .summary-table-col-2{
	width:10%;
}
#summary-table .summary-table-col-3{
	width:10%;
}
#summary-table .summary-table-col-4{
	width:30%;
}
#summary-table .summary-table-col-5{
	width:30%;
}
#summary-table tbody tr{
	border-top:#DDD solid 1px;
}
#summary-table tbody tr:nth-child(odd){
	background:#EEE;
}
.summary-table-cell{
	padding:7px 10px;
	line-height:2.5;
}
.summary-table-title{
	display:block;
	background:#FFF;
	padding:0;
	line-height:2.5;
	margin-right:10px;
	padding-left:10px;
	border-right:#DDD solid 1px;
}
.summary-table-pos{
	color:rgb(108,189,69);
}
.summary-table-neg{
	color:rgb(239,83,45);
}
.summary-table-driver{
	background:#DDD;
	background:rgba(0,0,0,.05);
	padding:2px 5px;
	margin:5px;
	line-height:2.5;
	border-radius:2px;
}
.summary-table-driver-pos{
	background:rgb(108,189,69);
	background:rgba(108,189,69,.1);
	color:rgb(108,189,69);
}
.summary-table-driver-neg{
	background:rgb(239,83,45);
	background:rgba(239,83,45,0.1);
	color:rgb(239,83,45);
}

/* SWITCH DATA ANIMATION */
.animate-enter,.animate-leave {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
.animate-enter.animate-enter-active, .animate-leave.animate-leave-active {
	opacity: 1;
}