<div><!-- Table Wrapper -->
    
    <div id="scorecard-grid-wrapper" scroll-pane-headers><!-- Table -->
        
        <header id="scorecard-grid-header"><!-- Table Header -->
            
            <div id="table-title"><!-- Table Title Cell 1,1 -->
                <span class="cell-body">{{table.title}}</span>
            </div>

            <ul style="width:{{subsets*100+superSubsets}}px;"><!-- Super Subset Labels -->
                <li ng-repeat="superSubset in table.superSubsets">
                    <span class="cell-body">{{superSubset.title}}</span>
                    <ul><!-- Subsets Labels -->
                        <li ng-repeat="subset in superSubset.subsets">
                            <span class="cell-body">
                                <p class="cell-text">{{subset.title}}</p>
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
            
        </header>
        
        <section id="scorecard-grid-sidebar"><!-- Table Row Labels -->
            
            <ul><!-- Super Topic Labels -->
                <li ng-repeat="superTopic in table.superTopics">
                    <span class="cell-body">{{superTopic.title}}</span>
                    <ul><!-- Topic Labels -->
                        <li class="sidebar-alternating-rows" ng-repeat="topic in superTopic.topics" ng-class-odd="'odd-cell'" ng-class-even="'even-cell'">
                            <span class="cell-body">
                                <p class="cell-text">{{topic.title}}</p>
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
            
        </section>
        
        <section id="scorecard-grid-body" style="width:{{subsets*100+superSubsets}}px;"><!-- Table Body -->
            
            <ul>
                <li class="clearfix" ng-repeat="superTopic in table.superTopics"><!-- Super Topic -->
                    <ul>
                        <li class="clearfix body-alternating-rows" ng-repeat="topic in superTopic.topics"><!-- Topic -->
                            <ul>
                                <li ng-repeat="superSubset in topic.superSubsets"><!-- Super Subset -->
                                    <ul>
                                        <li ng-repeat="subset in superSubset.subsets"><!-- Subset -->
                                            <span class="cell-body heat-{{subset.heat}} trend-{{subset.trend}}">{{subset.value}}</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            
        </section>
        
    </div>

    <!-- Edge Shadows to imply scrollable content -->
    <span class="scroll-shadow" id="scroll-shadow-top"></span>
    <span class="scroll-shadow" id="scroll-shadow-right"></span>
    <span class="scroll-shadow" id="scroll-shadow-bottom"></span>
    <span class="scroll-shadow" id="scroll-shadow-left"></span>

</div>
